		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="ROBOTS" content="NOINDEX,NOFOLLOW,NOARCHIVE" />
		
        <link href="/css/argi-style.css" rel="stylesheet">
        <link href="/css/argi-dropdown.css" rel="stylesheet">
        <link href="/css/font-awesome.all.min.css" rel="stylesheet">
        <link href="/css/tabulator_bootstrap4.css" rel="stylesheet">
        <link href="/css/tempusdominus-bootstrap-4.css" rel="stylesheet">

		<title>aRGi Consumometro</title>
